{% extends "base.html" %}

{% block title %}
	{{title}}
{% endblock title %}

{% block content %}
	<h1>{{ tag.title|title }}</h1>
	{% for post in tag.posts.all %}

		<div class="card mb-4">
		<div class="card-header">
			{{post.date}}
		</div>
		<div class="card-body">
			<h5 class="card-title">{{post.title}}</h5>
			<p class="card-text">{{post.body|truncatewords:10}}</p>
			<a href="{{ post.tag.get_absolute_url }}" class="btn btn-light">Read</a>
		</div>
		</div>
	{% endfor %}
{% endblock content %}