<<<<<<< HEAD
body {
	background-color: #ccd4d4;
}

a:hover {
    background: red;
    color: blue;
=======
body {
	background-color: #ccd4d4; 
}

a:hover {
	background-color: red;
	color: gray;
>>>>>>> 24e7d1557a476c461c1ef5bb22a321650cae7d90
}