{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
	<title>
		{% block title %}
		{% endblock title %}
	</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'posts_list_url' %}">BLOG</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tags_list_url' %}">TAGES</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'tag_create_url' %}">Create Tag</a>
          <a class="dropdown-item" href="{% url 'post_create_url' %}">Create Blog</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/">Admin Panel</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'posts_list_url' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container-fluid">
  <div class="row" id="row">
    <div class="col-sm" id="col-sm"> 
      {% block content %}

      {% endblock content %}

      {% if is_paginated %}
        
        <nav aria-label="Page navigation example" id="pagination">
          <ul class="pagination">
            <li class="page-item {% if not prev_url %} disabled {% endif %}">
              <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
              <span aria-hidden="true">Previous</span>
              </a>
              </li>
              {% for n in page_object.paginator.page_range %}
                {% if page_object.number == n %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
                  </li>
                {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                  </li>
                {% endif %}
              {% endfor %}
              <li class="page-item {% if not next_url %} disabled {% endif %}">
              <a class="page-link" href="{{ next_url }}" aria-label="Previous">
              <span aria-hidden="true">Next</span>
              </a>
              </li>
            </li>
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>
</div>

{% if request.user.is_authenticated and request.user.is_staff %}
  <div class="admin-panel align-items-center">
  <a href="/admin/" class="btn btn-info">Admin</a>
  {% block admin-panel %}
    
  {% endblock admin-panel %}
</div>
{% endif %}



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>